<%= render partial: 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t('spree.admin.new_time_range')%>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t('spree.admin.back_to_time_ranges'), spree.admin_delivery_time_ranges_path, icon: 'icon-arrow-left' %>
  </li>
<% end %>

<%= render 'spree/shared/error_messages', target: @delivery_time_range %>

<%= form_for [:admin, @delivery_time_range] do |f| %>
  <fieldset class="no-border-top">
    <%= render partial: "form", locals: { f: f } %>
    <div class="clear"></div>
    <%= render partial: "spree/admin/shared/new_resource_links" %>
  </div>
<% end %>
